<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hust_twj.zademo">
    
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".moments_2_0.hot_topic.HotTopicActivity"/>
        <activity android:name=".moments_2_0.hot_topic.PublishActivity"/>

        <activity android:name=".moment_2_0_optima.SpannableActivity"/>

        <activity android:name=".safety_tips.SafetyDialogActivity"
            android:theme="@android:style/Theme.Dialog"/>

        <activity android:name=".moments_2_0.hot_topic.MomentTopicDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".pic_text.PicTextActivity"/>

        <activity android:name=".list.ListActivity"/>

        <activity android:name=".queen_heart.QueenHeartActivity"/>

        <activity android:name=".live_end.LiveEndActivity"/>

        <activity android:name=".span.SpanActivity"/>

        <activity android:name=".toast.ToastActivity"/>

        <activity android:name=".frame_layout.FrameActivity"/>

    </application>

</manifest>