<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hust_twj.zademo">
    
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".DemoApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".moments_2_0.hot_topic.HotTopicActivity"/>
        <activity android:name=".moments_2_0.hot_topic.PublishActivity"/>

        <activity android:name=".moment_2_0_optima.SpannableActivity"/>

        <activity android:name=".safety_tips.SafetyDialogActivity"
            android:theme="@android:style/Theme.Dialog"/>

        <activity android:name=".moments_2_0.hot_topic.MomentTopicDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".pic_text.PicTextActivity"/>

        <activity android:name=".list.ListActivity"/>

        <activity android:name=".queen_heart.QueenHeartActivity"/>

        <activity android:name=".live_end.LiveEndActivity"/>

        <activity android:name=".span.SpanActivity"/>

        <activity android:name=".toast.ToastActivity"/>

        <activity android:name=".frame_layout.FrameActivity"/>

        <activity android:name=".line_space_extra.LineSpaceActivity"/>

        <activity android:name=".round_img_view.RoundImgActivity"/>

        <activity android:name=".event_bus.EventBusDemoActivity"/>
        <activity android:name=".event_bus.StickyActivity"/>

        <activity android:name=".handler.HandlerActivity"/>

        <activity android:name=".bottom_sheet.BottomSheetActivity"/>
        <activity android:name=".bottom_sheet.BottomSheetBehaviorActivity"/>

        <activity android:name=".share.ShareActivity"/>
        <activity android:name=".pay.PayActivity"/>

        <activity android:name=".remote_view.RemoteViewActivity"/>
        <activity android:name=".remote_view.RemoteViewActivity1"/>
        <activity android:name=".remote_view.RemoteViewActivity2"/>

        <activity android:name=".handler.HandlerThreadActivity"/>
        <activity android:name=".xfermode.XfermodeActivity"/>
        <activity android:name=".xfermode.ScratchCardActivity"/>

        <activity android:name=".bitmap_opti.BitmapOptiActivity"/>
        <activity android:name=".bitmap_opti.BitmapOriginalActivity"/>
        <activity android:name=".bitmap_opti.BitmapSampleSizeActivity"/>

        <activity android:name=".ui_widget.activity.UIWidgetActivity"/>
        <activity android:name=".ui_widget.activity.ProgressBarActivity"/>
        <activity android:name=".ui_widget.activity.GradientRingActivity"/>

        <activity android:name=".aidl.AidlActivity"/>

        <activity android:name=".leak_canary.LeakCanaryActivity"/>

        <activity android:name=".view.ViewActivity"/>

        <activity android:name=".ui_params.UIParamsActivity"/>

    </application>

</manifest>